<h3>
   {{!-- props from controller --}}
   {{viewTitle}}
</h3>

<form action="/employee" method="POST" autocomplete='off'>
   <input type="hidden" name="_id" value="{{employee._id}}">
   <div class="form-group">
      <label>Fullname</label>
      <input type="text" class="form-control" name="fullname" placeholder="fullname" value="{{employee.fullname}}" />
   </div>
   <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email" placeholder="email" value="{{employee.email}}" />
   </div>
   <div class="form-row">
      <div class="form-group col-md-6">
         <label>Mobile</label>
         <input type="text" class="form-control" name="mobile" placeholder="mobile" value="{{employee.mobile}}" />
      </div>
      <div class="form-group col-md-6">
         <label>City</label>
         <input type="text" class="form-control" name="city" placeholder="city" value="{{employee.city}}" />
      </div>
   </div>
   <div class="form-group">
      <button type="submit" class="btn btn-info"> <i class="fas fa-database fa-fw"></i>Submit</button>
      <a class="btn btn-secondary" href="/employee/list"> <i class="fa fa-fw fa-list-alt" aria-hidden="true"></i>View
         All</a>
   </div>
</form>