<div class="row">
   <div class="col-md-4">
      <a href="/employee"><button class="btn btn-danger mt-2 mb-5">
            Create New
         </button></a>
   </div>
   <div class="col-md-4 mt-2 mb-5">
      <h2>{{listTitle}}</h2>
   </div>
</div>

<table class="table table-striped">
   <thead>
      <tr>
         <th>Full Name</th>
         <th>Email</th>
         <th>Mobile</th>
         <th>City</th>
         <th>Action</th>
      </tr>
   </thead>
   <tbody>
      {{#each list}}
      <tr>
         <td>{{this.fullname}}</td>
         <td>{{this.email}}</td>
         <td>{{this.mobile}}</td>
         <td>{{this.city}}</td>
         <td>
            <a href="/employee/{{this._id}}" class="btn   btn-primary">Edit</a>
            <a href="/employee/delete/{{this._id}}" class="btn   btn-danger">Hapus</a>
         </td>
      </tr>
      {{/each}}
   </tbody>
</table>