<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   <title>Node js express mongoDB CRUD</title>
</head>

<body class="bg-info">
   <div class="row">
      <div class="col-md-6 offset-md-3"
         style="background-color: white; margin-top: 25px; padding: 20px; border-radius: 10px">
         {{{body}}}
      </div>
   </div>

</body>

</html>